global:
    resolve_timeout: 5m

route:
    group_by: ["alertname"]
    group_wait: 10s
    group_interval: 10s
    repeat_interval: 1h
    receiver: "email-notifications"

receivers:
    - name: "email-notifications"
      email_configs:
          - to: "jennifer7chan+monitoring@gmail.com"
            from: "alertmanager@example.com"
            smarthost: smtp.example.com:587
            auth_username: "your-username"
            auth_password: "your-password"
