global:
    scrape_interval: 30s
    scrape_timeout: 10s
    evaluation_interval: 30s

rule_files:
    - "/etc/prometheus/rules/container_alerts.yml"
    - "/etc/prometheus/rules/recording.yml"
    - "/etc/prometheus/rules/instance_down.yml"
    - "/etc/prometheus/rules/node_alerts.yml"
    - "/etc/prometheus/rules/security_rules.yml"

alerting:
    alertmanagers:
        - scheme: http
          static_configs:
            - targets: ["alertmanager:9093"]

scrape_configs:
    - job_name: cadvisor
      static_configs:
          - targets: ["cadvisor:8080"]
      metric_relabel_configs:
          # Drop all Docker Compose labels
          - regex: "container_label_com_docker_compose_.*|"
            action: labeldrop

    - job_name: immich_api
      static_configs:
          - targets: ["immich-server:8081"]
      metric_relabel_configs:
          - source_labels: [__name__]
            regex: "^(immich_users_total|immich_album_repository|immich_user_repository|immich_asset_repository|immich_asset_job_repository|http_server_duration_*)$"
            action: keep
          - source_labels: [__name__]
            regex: "^(immich_(album|user|asset|asset_job)_repository_bucket*|http_server_duration_bucket|.*_bucket)$"
            action: drop

    - job_name: immich_microservices
      static_configs:
          - targets: ["immich-server:8082"]

    - job_name: prometheus
      scrape_interval: 60s
      static_configs:
          - targets: ["prometheus:9090"]
      metric_relabel_configs:
          - regex: "prometheus_local_storage_memory_series|prometheus_remote_storage_samples_*|process_resident_memory_bytes|process_virtual_memory_bytes|prometheus_remote_storage_.*|prometheus_http_requests_total|prometheus_tsdb_*|process_start_time_seconds|scrape_samples_.*"
            action: labelkeep
          - source_labels: [__address__]
            regex: "^(__address__)$"
            replacement: "instance"
            action: keep
          - source_labels: [instance]
            regex: "^(instance)$"
            target_label: instance
            replacement: "job"
            action: replace

    - job_name: node-exporter
      static_configs:
          - targets: ["node-exporter:9100"]
      scrape_interval: 60s
      metric_relabel_configs:
          - source_labels: [__name__]
            regex: "^(node_.*|ufw_.*|fail2ban_.*)$"
            action: keep

    - job_name: alertmanager
      static_configs:
          - targets: ["alertmanager:9093"]

remote_write:
    - url: "https://prometheus-prod-32-prod-ca-east-0.grafana.net/api/prom/push"
      basic_auth:
          username: "2488765"
          password_file: /secrets/grafana_pw
      follow_redirects: true
      queue_config:
          capacity: 5000
          min_shards: 1
          max_shards: 1
          max_samples_per_send: 500
          batch_send_deadline: 5s
          min_backoff: 100ms
          max_backoff: 10s
      write_relabel_configs:
          - source_labels: [__name__]
            regex: "^(local_storage:memory_series:count|node:cpu_usage:avg5m|node:memory_usage:percent|container:cpu_usage:avg5m|container:memory_usage:bytes|node:filesystem_usage:percent|node:idle_disk_io_time:avg5m)$"
            action: keep
          # Drop all OpenTelemetry metrics
          - source_labels: [otel_scope_name]
            regex: "^(.*)$"
            action: drop
          # Drop all bucket and histogram metrics
          - source_labels: [__name__]
            regex: "^(.*_bucket|.*_histogram_count|.*_histogram_sum)$"
            action: drop
          # Drop all container metrics
          - source_labels: [__name__, instance]
            regex: "^(container_label_*|go_.*|promhttp_.*|process_start_time_seconds|prometheus_.*|.*_bucket)$"
            action: drop
          - source_labels: [instance]
            regex: ".*[0-9a-f]{8,}.*"
            action: drop
          # Drop all PromHTTP metrics
          - source_labels: [__name__]
            regex: "^(promhttp_.*)$"
            action: drop
          - source_labels: [__name__]
            # Drop all Go metrics
            regex: "^(go_.*)$"
            action: drop